@media screen and (max-width: 480px) {
.sidebar{
padding: 0px;
font-size: 10px;
    }
#cms-content{
    font-size:26px !important;
    
}

}
.hidden {
  display: none;
  opacity: 0;
}
.visuallyhidden {
  opacity: 0;
}